.blog__article
  article.article
    h2.article__title Препроцессоры или кастомные свойства
    .article__date
      time(datetime="2017-09-18") 18 сентября 2017
    .article__text
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo, et eum. Odit sequi adipisci tempora saepe sint itaque, quo at?
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, odit veritatis, officia minus ut vel excepturi id aut voluptate suscipit deserunt iure quisquam ullam non quas. Eligendi recusandae, dicta, optio totam fugit blanditiis deserunt corrupti quas labore nemo qui nostrum! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum dolorem facere dolore earum sit esse cupiditate dolorum repellat sed molestiae atque ratione consequuntur nostrum incidunt suscipit quibusdam doloribus rem labore eos, officiis, quam autem ipsa optio dignissimos? Quasi, inventore fugit.
  article.article
    h2.article__title Прибиваем футер к низу страницы
    .article__date
      time(datetime="2017-09-18") 18 сентября 2017
    .article__text
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo, et eum. Odit sequi adipisci tempora saepe sint itaque, quo at?
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia eaque at quis minus, ipsa maxime laboriosam quasi dolorem! Consectetur quam sint itaque voluptatibus pariatur debitis ut molestias nostrum distinctio vero, tenetur quo expedita quod incidunt impedit corporis provident voluptate explicabo?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum dolorem facere dolore earum sit esse cupiditate dolorum repellat sed molestiae atque ratione consequuntur nostrum incidunt suscipit quibusdam doloribus rem labore eos, officiis, quam autem ipsa optio dignissimos? Quasi, inventore fugit.
  article.article
    h2.article__title Набор необходимых Gulp плагинов
    .article__date
      time(datetime="2017-09-18") 18 сентября 2017
    .article__text
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo, et eum. Odit sequi adipisci tempora saepe sint itaque, quo at?
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia eaque at quis minus, ipsa maxime laboriosam quasi dolorem! Consectetur quam sint itaque voluptatibus pariatur debitis ut molestias nostrum distinctio vero, tenetur quo expedita quod incidunt impedit corporis provident voluptate explicabo?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum dolorem facere dolore earum sit esse cupiditate dolorum repellat sed molestiae atque ratione consequuntur nostrum incidunt suscipit quibusdam doloribus rem labore eos, officiis, quam autem ipsa optio dignissimos? Quasi, inventore fugit.
  article.article
    h2.article__title Почему я выбрал Pug
    .article__date
      time(datetime="2017-09-18") 18 сентября 2017
    .article__text
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo, et eum. Odit sequi adipisci tempora saepe sint itaque, quo at?
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia eaque at quis minus, ipsa maxime laboriosam quasi dolorem! Consectetur quam sint itaque voluptatibus pariatur debitis ut molestias nostrum distinctio vero, tenetur quo expedita quod incidunt impedit corporis provident voluptate explicabo?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum dolorem facere dolore earum sit esse cupiditate dolorum repellat sed molestiae atque ratione consequuntur nostrum incidunt suscipit quibusdam doloribus rem labore eos, officiis, quam autem ipsa optio dignissimos? Quasi, inventore fugit.