.blog-aside 
  aside.aside
    ul.aside-list
      li.aside-list__item
        a.aside-list__link(href="#")
          span.aside-list__link-title Препроцессоры или кастомные свойства CSS
      li.aside-list__item
        a.aside-list__link(href="#")
          span.aside-list__link-title Прибиваем футер к низу страницы
      li.aside-list__item
        a.aside-list__link(href="#")
          span.aside-list__link-title Набор необходимых Gulp плагинов
      li.aside-list__item
        a.aside-list__link(href="#")
          span.aside-list__link-title Почему я выбрал Pug