section.section.map
  .map-card
    .contacts.map-card__contacts
      h2.subtitle Контакты
    ul.contacts-list
      li.contacts-list__item
        svg.contacts-list__item-icon(width="24" height="24")
          use(xlink:href="assets/img/sprite.svg#skype")
        .contacts-list__item-description egor.korol.
      li.contacts-list__item
        svg.contacts-list__item-icon(width="23" height="16")
          use(xlink:href="assets/img/sprite.svg#envelope2")
        a.contacts-list__item-description(href="mailto:egor.korol@mail.ru") egor.korol@mail.ru
      li.contacts-list__item
        svg.contacts-list__item-icon(width="23" height="20")
          use(xlink:href="assets/img/sprite.svg#phone")
        a.contacts-list__item-description(href="tel:+79210547326") +7 (921) 054-73-26
      li.contacts-list__item
        svg.contacts-list__item-icon(width="23" height="21")
          use(xlink:href="assets/img/sprite.svg#map_marker")
        .contacts-list__item-description г.Череповец