.menu-blog__box  
  .menu-blog.menu-blog--open
    ul.menu-blog__list
      li.menu-blog__item
        a.menu-blog__link(href="#")
          h3.menu-blog__title Препроцессоры или кастомные свойства CSS
      li.menu-blog__item
        a.menu-blog__link(href="#")
          h3.menu-blog__title Прибиваем футер к низу страницы
      li.menu-blog__item
        a.menu-blog__link(href="#")
          h3.menu-blog__title Набор необходимых Gulp плагинов
      li.menu-blog__item
        a.menu-blog__link(href="#")
          h3.menu-blog__title Почему я выбрал Pug