ul.skills-list
  li.skills-item
    .skills-row
      .skills-row__title Frontend
      ul.skills-row__list
        li.skills-row__item
          .slill-item
            svg.circles(viewBox="0 0 110 110")
              circle.circle__first(r="45" cx="50%" cy="50%" fill="none")
              circle.circle__second.circle-85(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)")
            span.skills-title HTML
        li.skills-row__item
          .slill-item
            svg.circles(viewBox="0 0 110 110")
              circle.circle__first(r="45" cx="50%" cy="50%" fill="none")
              circle.circle__second.circle-85(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)")
            span.skills-title CSS
        li.skills-row__item
          .slill-item
            svg.circles(viewBox="0 0 110 110")
              circle.circle__first(r="45" cx="50%" cy="50%" fill="none")
              circle.circle__second.circle-25(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)")
            span.skills-title JavaScript
  li.skills-item
    .skills-row
      .skills-row__title Backend
      ul.skills-row__list
        li.skills-row__item
          .slill-item
            svg.circles(viewBox="0 0 110 110")
              circle.circle__first(r="45" cx="50%" cy="50%" fill="none")
              circle.circle__second.circle-15(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)")
            span.skills-title PHP
          li.skills-row__item
            .slill-item
              svg.circles(viewBox="0 0 110 110")
                circle.circle__first(r="45" cx="50%" cy="50%" fill="none")
                circle.circle__second.circle-15(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)")
              span.skills-title mySQL
        li.skills-row__item
          .slill-item
            svg.circles(viewBox="0 0 110 110")
              circle.circle__first(r="45" cx="50%" cy="50%" fill="none")
              circle.circle__second.circle-15(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)")
            span.skills-title Node.js
        li.skills-row__item
          .slill-item
            svg.circles(viewBox="0 0 110 110")
              circle.circle__first(r="45" cx="50%" cy="50%" fill="none")
              circle.circle__second.circle-15(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)")
            span.skills-title Mongo.db
  li.skills-item
    .skills-row
      .skills-row__title Workflow
      ul.skills-row__list
        li.skills-row__item
          .slill-item
            svg.circles(viewBox="0 0 110 110")
              circle.circle__first(r="45" cx="50%" cy="50%" fill="none")
              circle.circle__second.circle-80(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)")
            span.skills-title Git
        li.skills-row__item
          .slill-item
            svg.circles(viewBox="0 0 110 110")
              circle.circle__first(r="45" cx="50%" cy="50%" fill="none")
              circle.circle__second.circle-75(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)")
            span.skills-title npm
        li.skills-row__item
          .slill-item
            svg.circles(viewBox="0 0 110 110")
              circle.circle__first(r="45" cx="50%" cy="50%" fill="none")
              circle.circle__second.circle-75(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)")
            span.skills-title Gulp
        li.skills-row__item
          .slill-item
            svg.circles(viewBox="0 0 110 110")
              circle.circle__first(r="45" cx="50%" cy="50%" fill="none")
              circle.circle__second.circle-65(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)")
            span.skills-title Webpack