.works-slider
  .slider-info
    ul.slider-info__list
      li.slider-info__item
        .slider-info__title.slider-info__item-title
          h2.subtitle Сайт школы онлайн образования
        .slider-info__description
          .slider-info__description-text HTML, CSS, JavaScript
        .slider-info__btn
          a.slider-info__btn-link(href="#" target="_blank") Посмотреть сайт
            svg.slider-info__btn-icon(width="20" height="19")
              use(xlink:href="assets/img/sprite.svg#link")
      li.slider-info__item
        .slider-info__title
          h2.subtitle Сайт школы йоги
        .slider-info__description
          .slider-info__description-text HTML, CSS, JavaScript
        .slider-info__btn
          a.slider-info__btn-link(href="#" target="_blank") Посмотреть сайт
            svg.slider-info__btn-icon(width="20" height="19")
              use(xlink:href="assets/img/sprite.svg#link")
      li.slider-info__item
        .slider-info__title
          h2.subtitle Сайт мебельного магазина
        .slider-info__description
          .slider-info__description-text HTML, CSS, JavaScript
        .slider-info__btn
          a.slider-info__btn-link(href="#" target="_blank") Посмотреть сайт
            svg.slider-info__btn-icon(width="20" height="19")
              use(xlink:href="assets/img/sprite.svg#link")
  .slider-slide
    ul.slider-slide__list
      li.slider-slide__item
        img.slider-slide__img(src="assets/img/works/work_loft.png", alt="Сайт школы LoftSchool")
      li.slider-slide__item
        img.slider-slide__img(src="assets/img/works/work_ioga.jpg", alt="Сайт йоги")
      li.slider-slide__item
        img.slider-slide__img(src="assets/img/works/work_trialog.jpg", alt="Сайт мебели")
  .slider-buttons
    .slider-buttons__left
      button(type="button").slider-buttons__arrow.slider-buttons__arrow--left
        svg.arrow-icon__slider(width="43" height="27")
          use(xlink:href="assets/img/sprite.svg#portf_arrow_down")
    .slider-buttons__right
      button(type="button").slider-buttons__arrow.slider-buttons__arrow--right
        svg.arrow-icon__slider(width="43" height="27")
          use(xlink:href="assets/img/sprite.svg#portf_arrow_up ")