footer.footer
  .footer__col
    p Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
  .footer__col
    nav.footer-menu
      ul.footer-menu__list
        li.footer-menu__list-item
          a.footer-menu__list-link(href="my-works.html") Мои работы
        li.footer-menu__list-item
          a.footer-menu__list-link(href="about.html") Обо мне
        li.footer-menu__list-item
          a.footer-menu__list-link(href="blog.html") Блог
        li.footer-menu__list-item
          a.footer-menu__list-link(href="index.html") Авторизация
    include ../common/social_footer    
  .footer__col
    blockquote
      .quote В будущем на рынке останется два вида компаний: те, кто в Интернет и те, кто вышел из бизнеса.
      cite -Билл Гейтс