footer.footer
  .footer-col
    p Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
  .footer-col
    nav.nav-menu__footer
      ul.nav-menu__list-footer
        li.nav-menu__item-footer
          a.nav-menu__link-footer(href="my-works.html") Мои работы
        li.nav-menu__item-footer
          a.nav-menu__link-footer(href="about.html") Обо мне
        li.nav-menu__item-footer
          a.nav-menu__link-footer(href="blog.html") Блог
        li.nav-menu__item-footer
          a.nav-menu__link-footer(href="index.html") Авторизация
    .social
      ul.social-list
        li.social-item
          a.social-link(href="https://vk.com/korol_egor" target="_blank")
            svg.social-icon.social-icon--footer(width="31" height="17")
              use(xlink:href="assets/img/sprite.svg#vk")
        li.social-item
          a.social-link(href="https://github.com/EgorKorol" target="_blank")
            svg.social-icon.social-icon--footer(width="26" height="22")
              use(xlink:href="assets/img/sprite.svg#github")
  .footer-col
    blockquote
      p.quote В будущем на рынке останется два вида компаний: те, кто в Интернет и те, кто вышел из бизнеса.
      p.autor -Билл Гейтс