.fsmenu
  nav.fsmenu-nav
    ul.fsmenu-list
      li.fsmenu-list__item
        a.fsmenu-list__link(href="my-works.html")
          .title.fsmenu__title Мои работы
      li.fsmenu-list__item
        a.fsmenu-list__link(href="blog.html")
          .title.fsmenu__title Блог
      li.fsmenu-list__item
        a.fsmenu-list__link(href="about.html")
          .title.fsmenu__title Обо мне
      li.fsmenu-list__item
        a.fsmenu-list__link(href="index.html")
          .title.fsmenu__title Авторизация