.fsmenu
  nav.fsmenu-nav
    ul.fsmenu-list
      li.fsmenu-list__item
        a.fsmenu-list__link(href="my-works.html")
          .hero-title Мои работы
      li.fsmenu-list__item
        a.fsmenu-list__link(href="blog.html")
          .hero-title Блог
      li.fsmenu-list__item
        a.fsmenu-list__link(href="about.html")
          .hero-title Обо мне
      li.fsmenu-list__item
        a.fsmenu-list__link(href="index.html")
          .hero-title Авторизация