.fsmenu
  nav.fsmenu-nav
    ul.fsmenu-list
      li.fsmenu-item
        a.fsmenu-link(href="my-works.html")
          h2.hero-title Мои работы
      li.fsmenu-item
        a.fsmenu-link(href="blog.html")
          h2.hero-title Блог
      li.fsmenu-item
        a.fsmenu-link(href="about.html")
          h2.hero-title Обо мне
      li.fsmenu-item
        a.fsmenu-link(href="index.html")
          h2.hero-title Авторизация