.social
  ul.social-list
    li.social-list__item
      a.social-list__link(href="https://vk.com/korol_egor" target="_blank")
        svg.social-icon(width="31" height="17")
          use(xlink:href="assets/img/sprite.svg#vk")
    li.social-list__item
      a.social-list__link(href="https://github.com/EgorKorol" target="_blank")
        svg.social-icon(width="26" height="22")
          use(xlink:href="assets/img/sprite.svg#github")
    li.social-list__item
      a.social-list__link(href="https://www.linkedin.com/in/%D0%B5%D0%B3%D0%BE%D1%80-%D0%BA%D0%BE%D1%80%D0%BE%D0%BB%D1%8C-b03544150/" target="_blank")
        svg.social-icon(width="24" height="22")
          use(xlink:href="assets/img/sprite.svg#in")