section.section.welcome-page
	include ../common/social_welcome	
	.welcome-page__hamburger-menu
		button.hamburger.hamburger--spin(type="button" href="#")
			span.hamburger-box
				span.hamburger-inner
	.title-img
		svg.header-icon
			use(xlink:href="assets/img/sprite.svg#portfolio_header")
	.hero.welcome-page__hero
		.hero-img
			img.hero-avatar(src="assets/img/myphoto.jpg", alt="Моя фотография")
		.hero-info
			.hero-info__name Егор Король
			.hero-info__description Личный сайт веб разработчика
	.arrow.welcome-page__arrow
		button.arrow-btn(href="#")
			svg.arrow-icon(width="26" height="16")
				use(xlink:href="assets/img/sprite.svg#arrow_down")