section.welcome-page
	.social.welcome-social
		ul.social-list
			li.social-item
				a.social-link(href="https://vk.com/korol_egor" target="_blank")
					svg.social-icon(width="31" height="17")
						use(xlink:href="assets/img/sprite.svg#vk")
			li.social-item
				a.social-link(href="https://github.com/EgorKorol" target="_blank")
					svg.social-icon(width="26" height="22")
						use(xlink:href="assets/img/sprite.svg#github")
	.hamburger-menu
		a.hamburger-link(href="#")
			svg.social-icon(width="40" height="35")
				use(xlink:href="assets/img/sprite.svg#hamburger")
	.portfolio-img
		svg.portfolio-icon(width="1176" height="313")
			use(xlink:href="assets/img/sprite.svg#portfolio_header")
	.hero
		.hero-img
			img.hero-avatar(src="assets/img/myphoto.png", alt="Моя фотография")
		.hero-info
			h2.hero-name Егор Король
			.hero-info Личный сайт веб разработчика
	.arrow-down
		a.arrow-link(href="#")
			svg.arrow-icon(width="26" height="16")
				use(xlink:href="assets/img/sprite.svg#arrow_down")
	.blog-triangle
		.blog-triangle__left
			svg.triangle.triangle--color(viewBox="0 0 1000 100" preserveAspectRatio="none")
				polygon(points="0,0 0,100 1000,100")
		.blog-triangle__right
			svg.triangle.triangle--color(viewBox="0 0 1000 100" preserveAspectRatio="none")
				polygon(points="0,100 1000,100 1000,0")