section.section.welcome-page
	include ./fsmenu
	.social.welcome-page__social
		ul.social__list
			li.social__item
				a.social__link(href="https://vk.com/korol_egor" target="_blank")
					svg.social-icon(width="31" height="17")
						use(xlink:href="assets/img/sprite.svg#vk")
			li.social__item
				a.social__link(href="https://github.com/EgorKorol" target="_blank")
					svg.social-icon(width="26" height="22")
						use(xlink:href="assets/img/sprite.svg#github")
	.hamburger-menu__welcome-page
		button.hamburger.hamburger--spin(type="button" href="#")
			span.hamburger-box
				span.hamburger-inner
	.title__img
		svg.header-icon(width="1176" height="313")
			use(xlink:href="assets/img/sprite.svg#portfolio_header")
	.hero.welcome-page__hero
		.hero-img.hero-avatar
		.hero-info
			.hero-name Егор Король
			.hero-info Личный сайт веб разработчика
	.arrow.welcome-page__arrow-down
		button.arrow-btn(href="#")
			svg.arrow-icon(width="26" height="16")
				use(xlink:href="assets/img/sprite.svg#arrow_down")