section.section.welcome-page
	include ./fsmenu
	.welcome-page
		.social.welcome-social
			ul.social-list
				li.social-item
					a.social-link(href="https://vk.com/korol_egor" target="_blank")
						svg.social-icon(width="31" height="17")
							use(xlink:href="assets/img/sprite.svg#vk")
				li.social-item
					a.social-link(href="https://github.com/EgorKorol" target="_blank")
						svg.social-icon(width="26" height="22")
							use(xlink:href="assets/img/sprite.svg#github")
		.hamburger-menu
			button.hamburger.hamburger--spin(type="button" href="#")
				span.hamburger-box
					span.hamburger-inner
		.blog-img
			svg.header-icon(width="303" height="208")
				use(xlink:href="assets/img/sprite.svg#blog_header")
		.hero
			.hero-img
				img.hero-avatar(src="assets/img/myphoto.png", alt="Моя фотография")
			.hero-info
				h1.hero-title Блог
				.hero-info Мои мысли на тему веб разработки