section.section.welcome-page
	include ../common/social_welcome	
	.welcome-page__hamburger-menu
		button.hamburger.hamburger--spin(type="button" href="#")
			span.hamburger-box
				span.hamburger-inner
	.title-img
		svg.header-icon
			use(xlink:href="assets/img/sprite.svg#blog_header")
	.hero.welcome-page__hero
		.hero-img.hero__hero-img
			img.hero-avatar(src="assets/img/myphoto.jpg", alt="Моя фотография")
		.hero-info
			h1.title-blog Блог
			.hero-info__description Мои мысли на тему веб разработки