.title {
  text-align: center;
  color: $gray;
  position: relative;

  &::after {
    content: "";
    width: 89px;
    height: 3px;
    display: block;
    margin: 0 auto;
    background-color: $gray;
    margin-top: 15px;
  }
}

.subtitle {
  text-align: center;

  &::after {
    content: "";
    width: 89px;
    height: 3px;
    display: block;
    margin: 0 auto;
    background: $gray;
    margin-top: 15px;
  }

  @include iphone () {
    font-size: 26px;
  }
}

.title-img {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -45%);
  fill: rgba(#93c42e, .1);
  width: 90%;
}

.main-button {
  background-color: $lgreen;
  transition: .3s;
  min-height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;

  &:hover {
      background-color: $green;
  }
  &:focus {
      background-color: $green;
  }
  &:active {
      background-color: $lgreen;
  }
}

.main-button--form {
  border: none;
  margin: 0;
  width: 50%;
  border-right: 1px solid #fff;
  cursor: pointer;
  color: #fff;
  font-weight: 500;

  &:last-child {
      border-right: none;
  }
}