.footer {
    display: flex;
    justify-content: space-around;
    background-color: rgba(#373e42, .85);
    color: #fff;
    position: absolute;
    bottom: 0;
    @include ipad () {
        flex-wrap: wrap;
    }
}

.footer-col {
    width: 30%;
    font-weight: 300;
    padding: 1%;
    position: relative;

    @include ipad () {
        width: 45%;
        &:last-child {
            width: 100%;
        }
        
        &:first-child {
            border-right: 1px solid #fff;
        }
    }

    @include iphone () {
        width: 90%;
        text-align: center;
        border-bottom: 1px solid #fff;
        &:first-child {
            border-right: none;
        }
        &:last-child {
            border-bottom: none;
        }
    }
}

.footer-menu__list {
    display: flex;
    justify-content: space-around;
}

.footer-menu__list-item {
    padding: 5% 0;
}

.footer-menu__list-link {
    color: rgba(#fff, .8);
    font-weight: 500;
    transition: .2s;
    &:hover {
        color: #fff;
    }
    &:focus {
        color: #fff;
    }
    &:active {
        color: #C5C0B8;
    }
}

.social-list--footer {
        justify-content: center;
}

.social-icon--footer {
    fill: rgba(#fff, .7);
    transition: .2s;
    &:hover {
        fill: #fff;
    }
    &:focus {
        color: #fff;
    }
    &:active {
        color: #C5C0B8;
    }
}

blockquote {
    font-style: italic;
}

.quote {
    margin-bottom: 10px;
}

cite {
    font-weight: 700;
}