.fsmenu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($lgreen, .8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: .3s;
}

.fsmenu--open {
  z-index: 5;
  opacity: 1;
}

.fsmenu-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fsmenu-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.fsmenu-link {
  color: #fff;

  &:hover {
    color: rgba(#fff, .8);
  }
}