.welcome-page {
  background-image: url(../img/background/water.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 650px;
  color: #fff;
}

.welcome-page__hamburger-menu {
  position: absolute;
  top: 3%;
  right: 5%;
  z-index: 10;
}

.title-img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-icon {
  fill: rgba(#fff, .12);
  width: 100%;
  height: 100%;

  @include iphone () {
    display: none;
  }
}

.hero {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-page__hero {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blog__img {
  width: 100%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
}

.hero-img {
  width: 141px;
  height: 141px;
  overflow: hidden;
  border-radius: 50%;
}

.welcome-info__hero-img {
  margin-bottom: 10px;
}

.hero__hero-img {
  margin-bottom: 10px;
}

.hero-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.welcome-info__hero-info {
  margin-bottom: 30px;
}

.hero__hero-info {
  margin-bottom: 30px;
}

.hero-info__name {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 10px; 

  @include iphone () {
    font-size: 24px;
  }
}

.title-blog {
  text-align: center;
  color: #fff;
  position: relative;
  padding: 20px 0;

  &::after {
    content: "";
    width: 89px;
    height: 3px;
    display: block;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 15px;
  }
}

.welcome-page__arrow {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.arrow__btn {
  fill: rgba(#fff, .7);
  transition: .3s;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;

    &:hover {
      transform: scale(1.1);
      fill: #fff;
    }

    &:focus {
      transform: scale(1.1);
      fill: #fff;
    }

    &:active {
      fill: rgba(#fff, .7);
    }
}

