.welcome-page {
  background-image: url(../img/background/water.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 650px;
  color: #fff;
}

.welcome-page__social {
  position: absolute;
  top: 34px;
  left: 30px;
}

.social__list {
  display: flex;
  align-items: center;
}

.social__item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  fill: #fff;
  transition: fill .3s;

  &:hover {
    fill: $green;
  }

  &:focus {
    fill: $green;
  }

  &:active {
    fill: #fff;
  }
}

.title__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-icon {
  fill: rgba(#fff, .12);

  @include iphone () {
    display: none;
  }
}

.hero {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-page__hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blog__img {
  position: absolute;
  top: 45%;
  left: 40%;
}

.hero-img {
  width: 141px;
  height: 141px;
  overflow: hidden;
  border-radius: 50%;
}

.hero-avatar {
  background-image: url("../img/myphoto.jpg");
  background-size: 161px 145px;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-name {
  font-size: 35px;
  font-weight: 500;
  padding: 5px 0;

  @include iphone () {
    font-size: 24px;
  }
}

.hero-info {
  padding: 10px 0;
}

.title--blog {
  text-align: center;
  color: #fff;
  position: relative;

  &::after {
    content: "";
    width: 89px;
    height: 3px;
    display: block;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 15px;
  }
}

.welcome-page__arrow-down {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.arrow-btn {
  fill: rgba(#fff, .7);
  transition: .3s;
  background-color: transparent;
  border: none;
  cursor: pointer;

    &:hover {
      transform: scale(1.1);
      fill: #fff;
    }

    &:focus {
      transform: scale(1.1);
      fill: #fff;
    }

    &:active {
      fill: rgba(#fff, .7);
    }
}

