.comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: url(../img/background/bg-comment.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.comment__title {
  padding: 50px 0;
  width: 40%;
}

.title__comment {
  font-size: 63px;
  position: relative;

  @include ipad () {
    width: 80%;
  }

  @include iphone () {
    width: 100%;
  }

  @include iphone () {
    font-size: 35px;
  }
}

.comment-info__list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 50px;
  
  @include iphone () {
    flex-wrap: wrap;
  }
}

.comment-info__item {
  width: 35%;

  @include ipad () {
    width: 50%;
  }
  @include iphone () {
    width: 100%;
    margin-bottom: 10%;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.comment-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.comment-description__img {
  width: 77px;
  height: 77px;
  border-radius: 50%;
  overflow: hidden;
}

.comment-description__text {
  line-height: 22px;
  width: 80%;

  @include ipad () {
    width: 90%;
  }
}

.comment-description__from-autor {
  color: $green;
}

.form-markup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 0 20px;
  background-color: rgba(255, 255, 255, 0.15);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.form-markup__title {
  color: $gray;
}

.form-markup__input {
  padding: 15px;
  width: 90%;
  border-radius: 25px;
  margin-bottom: 20px;
  border: none;
}

.form-markup__textarea{
  padding: 15px;
  width: 90%;
  height: 130px;
  border-radius: 25px;
  margin-bottom: 20px;
  border: none;
  resize: vertical;
}

.form-buttons {
  display: flex;
  width: 100%;
}

.form-buttons__btn {
  background-color: $lgreen;
  border: none;
  border-right: 1px solid #fff;
  width: 50%;
  padding: 15px 10px;
  color: #fff;
  cursor: pointer;
  transition: .3s;

  &:first-child {
    border-bottom-left-radius: 3px;
  }

  &:hover {
    background-color: $green;
  }

  &:active {
    background-color: $green;
  }

  &:focus {
    background-color: $lgreen;
  }

  &:last-child {
    border-right: none;
    border-bottom-right-radius: 3px;
  }
}

.arrow-icon--comment {
  transform: rotate(180deg);
  fill: #fff;
}

.arrow-btn--comment {
  margin: 50px 0 150px;

  @include ipad () {
    margin: 50px 0 250px; 
  }

  @include iphone () {
    margin: 50px 0 300px; 
  }
}