extends ../_template

block variables
   - var title = 'Обо мне'

block content
  include ../common/welcome-page
  .triangle
    .triangle__left
      svg.triangle-svg.triangle--about-beige(viewBox="0 0 1000 100" preserveAspectRatio="none")
        polygon(points="0,0 0,100 1000,100")
    .triangle__right
      svg.triangle-svg.triangle--about-white(viewBox="0 0 1000 100" preserveAspectRatio="none")
        polygon(points="0,100 1000,100 1000,0")
  section.about
    .about__left
      .about-info
        .about-info__title
          h1.title Обо мне
          svg.title-img
            use(xlink:href="assets/img/sprite.svg#about_header")
        .about-info__content
          .user-description
            .user-description__img
              img.user-description__avatat(src="assets/img/myphoto.jpg", alt="Моя фотография")
            .user-description__title
              h2.subtitle Кто я
            .description-text
              p Я веб разработчик из Череповца. Мне 22 года. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится изучать новые технологии и применять их на практике.
              p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нем свой свои работы, а пока посмотрите, как тут все классно и красиво!
    .about__right
      .user-description__title
        h2.subtitle Чем я могу быть вам полезен
      .description-text
        p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачина Backend. Но давайте по порядку.
      .about__right-content
        include ../parts/skills_about
  include ../parts/map_about
  include ../common/footer
  include ../common/fsmenu