extends ../_template

block variables
  - var title = 'Блог'

block content
  include ../common/welcome-page_blog
  .triangle
    .triangle__left
      svg.triangle-svg.triangle--blog-white(viewBox="0 0 1000 100" preserveAspectRatio="none")
        polygon(points="0,0 0,100 1000,100")
    .triangle__right
      svg.triangle-svg.triangle--blog-white(viewBox="0 0 1000 100" preserveAspectRatio="none")
        polygon(points="0,100 1000,100 1000,0")
  section.blog
    include ../parts/aside_blog
    include ../parts/article_blog
  include ../common/footer
  include ../common/fsmenu