extends ../_template

block variables
  - var title = 'Блог'

block content
  include ../common/welcome-page_blog
  .triangle
    .triangle__left
      svg.triangle-svg.triangle--blog-white(viewBox="0 0 1000 100" preserveAspectRatio="none")
        polygon(points="0,0 0,100 1000,100")
    .triangle__right
      svg.triangle-svg.triangle--blog-white(viewBox="0 0 1000 100" preserveAspectRatio="none")
        polygon(points="0,100 1000,100 1000,0")
  section.blog
    .blog__aside
      aside.aside-nav
        ul.aside-nav__list
          li.aside-nav__item
            a.aside-nav__link(href="#")
              .aside-nav__title Препроцессоры или кастомные свойства CSS
          li.aside-nav__item
            a.aside-nav__link(href="#")
              .aside-nav__title Прибиваем футер к низу страницы
          li.aside-nav__item
            a.aside-nav__link(href="#")
              .aside-nav__title Набор необходимых Gulp плагинов
          li.aside-nav__item
            a.aside-nav__link(href="#")
              .aside-nav__title Почему я выбрал Pug
    .blog__article
      article.article
        h2.article-header__title Препроцессоры или кастомные свойства
        .article-date
          time(datetime="2017-09-18") 18 сентября 2017
        .article-text
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo, et eum. Odit sequi adipisci tempora saepe sint itaque, quo at?
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, odit veritatis, officia minus ut vel excepturi id aut voluptate suscipit deserunt iure quisquam ullam non quas. Eligendi recusandae, dicta, optio totam fugit blanditiis deserunt corrupti quas labore nemo qui nostrum! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum dolorem facere dolore earum sit esse cupiditate dolorum repellat sed molestiae atque ratione consequuntur nostrum incidunt suscipit quibusdam doloribus rem labore eos, officiis, quam autem ipsa optio dignissimos? Quasi, inventore fugit.
      article.article
        h2.article-header__title Прибиваем футер к низу страницы
        .article-date
          time(datetime="2017-09-18") 18 сентября 2017
        .article-text
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo, et eum. Odit sequi adipisci tempora saepe sint itaque, quo at?
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia eaque at quis minus, ipsa maxime laboriosam quasi dolorem! Consectetur quam sint itaque voluptatibus pariatur debitis ut molestias nostrum distinctio vero, tenetur quo expedita quod incidunt impedit corporis provident voluptate explicabo?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum dolorem facere dolore earum sit esse cupiditate dolorum repellat sed molestiae atque ratione consequuntur nostrum incidunt suscipit quibusdam doloribus rem labore eos, officiis, quam autem ipsa optio dignissimos? Quasi, inventore fugit.
      article.article
        h2.article-header__title Набор необходимых Gulp плагинов
        .article-date
          time(datetime="2017-09-18") 18 сентября 2017
        .article-text
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo, et eum. Odit sequi adipisci tempora saepe sint itaque, quo at?
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia eaque at quis minus, ipsa maxime laboriosam quasi dolorem! Consectetur quam sint itaque voluptatibus pariatur debitis ut molestias nostrum distinctio vero, tenetur quo expedita quod incidunt impedit corporis provident voluptate explicabo?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum dolorem facere dolore earum sit esse cupiditate dolorum repellat sed molestiae atque ratione consequuntur nostrum incidunt suscipit quibusdam doloribus rem labore eos, officiis, quam autem ipsa optio dignissimos? Quasi, inventore fugit.
      article.article
        h2.article-header__title Почему я выбрал Pug
        .article-date
          time(datetime="2017-09-18") 18 сентября 2017
        .article-text
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo, et eum. Odit sequi adipisci tempora saepe sint itaque, quo at?
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia eaque at quis minus, ipsa maxime laboriosam quasi dolorem! Consectetur quam sint itaque voluptatibus pariatur debitis ut molestias nostrum distinctio vero, tenetur quo expedita quod incidunt impedit corporis provident voluptate explicabo?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum dolorem facere dolore earum sit esse cupiditate dolorum repellat sed molestiae atque ratione consequuntur nostrum incidunt suscipit quibusdam doloribus rem labore eos, officiis, quam autem ipsa optio dignissimos? Quasi, inventore fugit.
  include ../common/footer