extends ../_template

block variables
  - var title = 'Главная'

block content
  .wrapper
    .section.section--welcome  
      .welcome
        .welcome-about
          ul.welcome-list
            li.welcome-photo
              img.welcome-photo__photo(src="assets/img/myphoto.png", alt="my photo")
            li.welcome-name Егор Король
            li.welcome-description Личный сайт веб разработчика
            li.welcome-social
              ul.welcome-social__list
                li.social-item
                  a.social-link(href='#')
                    svg.social-icon__vk
                      use(xlink:href='assets/img/sprite.svg#vk')
                li.social-item
                  a.social-link(href='#')
                    svg.social-icon__github
                      use(xlink:href='assets/img/sprite.svg#github')
        nav.navigation
          a.navigation-link(href='my-works.pug') Мои работы
          a.navigation-link(href='about.pag') Обо мне
          a.navigation-link(href='blog.pug') Блог
      .autorization
        form.autorization-form
          h2.autorization-title Авторизируйтесь
          .decore-line
          .autorization-form__row
            label(for="login")
              .custom-input 
                svg.social-icon__login
                    use(xlink:href='assets/img/sprite.svg#login')
            input.autorization-input(type="text" id="login" placeholder="Login")
          .autorization-form__row
            label(for="password")
              .custom-input 
                svg.social-icon__password
                    use(xlink:href='assets/img/sprite.svg#password')
            input.autorization-input(type="password" id="password" placeholder="Password")
          label.autorization-question__checkbox(for="human") Я человек
            input.autorization-checkbox(type="checkbox" id="human")
          .title-radio Вы точно не робот?
          .autorization-row
            label.autorization-answer__radio(for="answer") Да
              input.autorization-radio(type="radio" id="answer")
            label.autorization-answer__radio(for="answer") Не уверен
              input.autorization-radio(type="radio" id="answer")
        a.navigation-link.navigation-link__autorization(href="index.html") На главную
        button.form-login Войти