extends ../_template

block variables
  - var title = 'Главная'

block content
  .welcome-page
    button.autorization-btn.welcome-page__autorization(type="button") Авторизоваться
    .flipper-box
      .flipper.flipper--open
        .welcome-card
          .welcome-info
            .hero-img.welcome-info__hero-img
              img.hero-avatar(src="assets/img/myphoto.jpg", alt="Моя фотография")
            .hero-info.welcome-info__hero-info
              .hero-info__name Егор Король
              .hero-info__description Личный сайт веб разработчика
            include ../common/social
          nav.nav-menu
            ul.nav-menu__list
              li.nav-menu__item
                a.main-button(href="my-works.html") 
                  span.main-button__text Мои работы
              li.nav-menu__item
                a.main-button(href="about.html") 
                  span.main-button__text Обо мне
              li.nav-menu__item
                a.main-button(href="blog.html") 
                  span.main-button__text Блог
        .welcome-card.welcome-card--form
          .welcome-info.welcome-info--form
            form.welcome-form#data(method="post")
              .title.title--welcome-form Авторизуйтесь
              .welcome-form__input
                .input-decore
                  svg.input-decore__icon.input-decore__icon--login(width="15" height="17")
                    use(xlink:href="assets/img/sprite.svg#login")
                input.form-input(type="text" id="login" placeholder="Логин")
                label.label-input.visuallyhidden(for="login") Введите логин
              .welcome-form__input
                .input-decore
                  svg.input-decore__icon.input-decore__icon--password
                    use(xlink:href="assets/img/sprite.svg#password")
                input.form-input(type="password" id="password" placeholder="Пароль")
                label.label-input.visuallyhidden(for="password") Введите пароль
              .welcome-form__checkbox
                input.form-checkbox(type="checkbox" id="checkbox")
                label.label-checkbox(for="checkbox") Я человек
              .welcome-form__radio
                .welcome-form__radio-question Вы точно не робот?
                .welcome-form__radio-input
                  input.form-radio(type="radio" id="radiobtnYes" name="robot")
                  label.label-radio(for="radiobtnYes") Да              
                .welcome-form__radio-input
                  input.form-radio(type="radio" id="radiobtnNo" name="robot")
                  label.label-radio(for="radiobtnNo") Не уверен
          .welcome-card__form-buttons
            button.main-button.main-button--form.main-button--flipback-js(href="#") На главную
            button.main-button.main-button--form(form="data" type="submit") Войти
    footer.welcome-footer
      span.welcome-footer__text &#169 Егор Король | LoftSchool | 2017