extends ../_template

block variables
  - var title = 'Мои работы'

block content
  include ../common/welcome-page
  .triangle
    .triangle__left
      svg.triangle-svg.triangle--works-white(viewBox="0 0 1000 100" preserveAspectRatio="none")
        polygon(points="0,0 0,100 1000,100")
    .triangle__right
      svg.triangle-svg.triangle--works-white(viewBox="0 0 1000 100" preserveAspectRatio="none")
        polygon(points="0,100 1000,100 1000,0")
  section.works
    .works__title
      h1.title Мои работы
        svg.title-img(width="506" height="165")
          use(xlink:href="assets/img/sprite.svg#works_header")
    .works-slider
      .slider-info
        ul.slider-info__list
          li.slider-info__item
            .slider-info__title
              h2.subtitle Сайт школы онлайн образования
            .slider-info__description
              .slider-info__description-text HTML, CSS, JavaScript
            .slider-info__btn
              a.slider-info__btn-link(href="#" target="_blank") Посмотреть сайт
                svg.slider-info__btn-icon(width="20" height="19")
                  use(xlink:href="assets/img/sprite.svg#link")
          li.slider-info__item
            .slider-info__title
              h2.subtitle Сайт школы йоги
            .slider-info__description
              .slider-info__description-text HTML, CSS, JavaScript
            .slider-info__btn
              a.slider-info__btn-link(href="#" target="_blank") Посмотреть сайт
                svg.slider-info__btn-icon(width="20" height="19")
                  use(xlink:href="assets/img/sprite.svg#link")
          li.slider-info__item
            .slider-info__title
              h2.subtitle Сайт мебельного магазина
            .slider-info__description
              .slider-info__description-text HTML, CSS, JavaScript
            .slider-info__btn
              a.slider-info__btn-link(href="#" target="_blank") Посмотреть сайт
                svg.slider-info__btn-icon(width="20" height="19")
                  use(xlink:href="assets/img/sprite.svg#link")
      .slider-slide
        ul.slide-slide__list
          li.slide-slide__item
            img.slide-slide__img(src="assets/img/works/work_loft.png", alt="Сайт школы LoftSchool")
          li.slide-slide__item
            img.slide-slide__img(src="assets/img/works/work_ioga.jpg", alt="Сайт йоги")
          li.slide-slide__item
            img.slide-slide__img(src="assets/img/works/work_trialog.jpg", alt="Сайт мебели")
      .slider-buttons
        .slider-buttons__left
          button(type="button").slider-buttons__arrow.slider-buttons__arrow--left
            svg.arrow-icon__slider(width="43" height="27")
              use(xlink:href="assets/img/sprite.svg#portf_arrow_down")
        .slider-buttons__right
          button(type="button").slider-buttons__arrow.slider-buttons__arrow--right
            svg.arrow-icon__slider(width="43" height="27")
              use(xlink:href="assets/img/sprite.svg#portf_arrow_up ")
  section.comment
    .comment-title
      h2.title.title__comment Что обо мне говорят
        svg.title-img(width="499" height="175")
          use(xlink:href="assets/img/sprite.svg#about_header")
    .comment-info
      ul.comment-info__list
        li.comment-info__item
          .comment-description
            .comment-description__img
              img.comment-description__avatar(src="assets/img/dkovaldn.jpg", alt="")
            blockquote.comment-description__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4 месяца только самых тяжелых испытаний и бессонных ночей!
              cite.comment-description__from
                .comment-description__from-autor Ковальчук Дмитрий
                .comment-description__from-position - основатель LoftSchool
        li.comment-info__item
          .comment-description
            .comment-description__img
              img.comment-description__avatar(src="assets/img/vsabanc.jpg", alt="")
            blockquote.comment-description__text Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
              cite.comment-description__from
                .comment-description__from-autor Владимир Сабанцев
                .comment-description__from-position - преподаватель в LoftSchool
    .comment-form
      form#data-comment.form(action="")
        .form-markup
          .form-title
            h2.subtitle Связаться со мной
          input.form-markup__input#name(type="text" placeholder="Имя")
          label.visuallyhidden(for="name") Ваше имя
          input.form-markup__input#email(type="text" placeholder="Email")
          label.visuallyhidden(for="Email") Ваш email
          textarea.form-markup__textarea#message(name="message" placeholder="Ваше сообщение")
          label.visuallyhidden(for="message") Ваше сообщение
        .form-buttons
          button.form-buttons__btn(form="data-comment" type="submit") Отправить
          button.form-buttons__btn(form="data-comment" type="reset") Очистить
    .arrow-up
      button.arrow-btn.arrow-btn--comment(href="#")
        svg.arrow-icon.arrow-icon--works(width="26" height="16")
          use(xlink:href="assets/img/sprite.svg#arrow_down")
  include ../common/footer
  include ../common/fsmenu