extends ../_template

block variables
  - var title = 'Мои работы'

block content
  include ../common/welcome-page
  .triangle
    .triangle__left
      svg.triangle-svg.triangle--works-white(viewBox="0 0 1000 100" preserveAspectRatio="none")
        polygon(points="0,0 0,100 1000,100")
    .triangle__right
      svg.triangle-svg.triangle--works-white(viewBox="0 0 1000 100" preserveAspectRatio="none")
        polygon(points="0,100 1000,100 1000,0")
  section.works
    .works__title
      h1.title Мои работы
        svg.title-img(width="506" height="165")
          use(xlink:href="assets/img/sprite.svg#works_header")
    include ../parts/slider_works
  include ../parts/comments_works
  include ../common/footer
  include ../common/fsmenu