@font-face {
    font-family: 'fontawesome';
    src: url('../fonts/fontawesome-webfont.woff2') format('woff2'),
         url('../fonts/fontawesome-webfont.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'sansus_webissimo';
    src: url('../fonts/sansus-webissimo-regular-webfont.woff2') format('woff2'),
         url('../fonts/sansus-webissimo-regular-webfont.woff') format('woff');
    font-weight: 500;
}