.about {
  display: flex;
  color: $gray;

  @include ipad () {
    flex-direction: column;
  }
}

.about__left {
  background-color: #eaefe2;
  width: 50%;

  @include ipad () {
    width: 100%;
  }
}

.about__right {
  background-color: #f4f5f0;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include ipad () {
    width: 100%;
  }

  @include iphone () {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.about-info {
  display: flex;
  align-items: flex-start;
  padding: 20px 0;

  @include dp () {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  @include ipad () {
    flex-direction: column;
    align-items: center;
  }
}

.about-info__title {
  position: relative;
  width: 50%;

  @include dp () {
    width: 100%;
    margin-bottom: 8%;
  }

  @include ipad () {
    margin-bottom: 40px;
  }
}

.about-info__content {
  width: 50%;

  @include dp () {
    width: 100%;
  }
}

.user-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-description__avatat {
  width: 95%;

  @include ipad () {
    width: 100%;
  }

  @include iphone () {
    width: 300px;
  }
}

.user-description__title {
  width: 60%;

  @include iphone () {
width: 80%;
  }
}

.description-text {
  padding: 0 3%;

  @include iphone () {
    width: 300px;
  }
}

.about__right-content {
  width: 94%;
}