.blog {
  display: flex;
  color: $gray;
  width: 100%;
  min-height: 650px;
  position: relative;
  justify-content: space-around;
  background-color: #faf8f0;
  padding: 5% 0 0 0;
}

.blog__aside {
  background-color: #faf8f0;
  width: 26%;

  @include ipad () {
    display: none;
  }
}

.aside-nav {
  position: sticky;
  top: 0;
}

.blog__article {
  background-color: #faf8f0;
  width: 66%;

  @include ipad () {
    width: 90%;
  }
}

.aside-nav__list {
  padding: 0 10px 0 10px;
  text-align: right;
}

.aside-nav__title {
  font-size: 16px;
  font-weight: 400;
  color: $gray;
  transition: .2s;
  padding: 5px 10px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  
    &:hover, &:active {
      color: $green;

      &::after {display: inline-block;}
    }

    &::after {
      content: "";
      display: none;
      position: absolute;
      right: -10px;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 15px;
      width: 3px;
      height: 42px;
      background-color: $green;
    }
}

.article {
  &:last-child {
    &::after {
      opacity: 0;
      margin-bottom: 130px;

      @include ipad () {
        margin-bottom: 180px;
      }

      @include iphone () {
        margin-bottom: 250px;
      }
    }
  }

  &::after {
    content: "";
    margin: 50px 0 40px;
    display: block;
    width: 95%;
    height: 5px;
    background-color: rgba(#373e42, .07);
  }
}

.article-header__title {
  font-size: 35px;
  padding: 10px 0;

  @include iphone () {
    font-size: 21px;
    padding: 0;
  }
}

.article-date {
  color: $lgreen;
  padding: 15px 0;

  @include iphone () {
    padding: 5px 0;
  }
}
