.blog-title {
    font-family: "sansus_webissimo";
    font-size: rem(63px);
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

.blog-line {
    width: rem(90px);
    height: rem(3px);
    background-color: #fff;
    margin: rem(20px) auto 0;
}