.works-title {
  background-color: #f8f9f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-title--works {
  margin: 30px 0;
}

.about-title__icon {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -55%);
  fill: rgba(#93c42e, .15);
}

.works-slider {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;

  @include ipad () {
    flex-wrap: nowrap;
  }
}

.slider-info {
  background-color: #ebefe2;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include ipad () {
    width: 100%;
    height: 40%;
  }

  @include iphone () {

    height: 40%;
  }
}

.slider-info__list {
  width: 400px;
  height: 300px;
  overflow: hidden;

  @include ipad () {
    width: 100%;
    height: 100%;
  }
}

.slider-info__item {
  text-align: center;
  margin-bottom: 50px;
}

.slider-info__title {
  width: 80%;
  color: $gray;
  margin: 0 auto;
}

.slider-info__description {
  margin-bottom: 30px;


  @include iphone () {
    margin-bottom: 15px;
    }
}

.slider-info__description-text {
  color: $green;
  font-weight: 500;
}

.slider-info__btn-link {
  background-color: $lgreen;
  display: inline-block;
  padding: 10px 20px;
  position: relative;
  border-radius: 20px;
  color: #fff;
  font-weight: 500;
  display: inline-flex;
  transition: .2s;

  &:hover {
    background-color: $green;
  }

  &:focus {
    background-color: $green;
  }

  &:active {
    background-color: $lgreen;
  }
}

.slider-info__btn-icon {
  fill: #fff;
  order: -1;
  margin-right: 10px;
}

.slider-slide {
  width: 50%;
  height: 70%;
  background-color: #e1e4d7;
  display: flex;
  align-items: center;
  justify-content: center;

  @include ipad () {
    width: 100%;
    order: -1;
    height: 60%;
  }

  @include iphone () {
    height: 55%;
  }
}

.slide-list {
  width: 600px;
  height: 400px;
  overflow: hidden;

  @include ipad () {
    height: 80%;
  }
  
  @include iphone () {
    height: 60%;
  }
}

.slide-item {
  margin-bottom: 200px;
  text-align: center;
}

.slide-img {
  width: 100%;

  @include ipad () {
    width: 70%;
  }
}

.slider-buttons {
  width: 50%;
  height: 30%;
  display: flex;

  @include ipad () {
    width: 100%;
  }
}

.slider-buttons__left, .slider-buttons__right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-buttons__arrow {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
}

.slider-buttons__arrow-left {
  background-image: url(../img/works/work-ioga.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(176, 183, 170, 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.slider-buttons__arrow-right {
  background-image: url(../img/works/work-trialog.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(147, 153, 141, 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.arrow-icon__slider {
  fill: #fff;
}

.comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: url(../img/background/bg-comment.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-title__comment {
  font-size: 63px;
  margin: 50px auto;
  width: 70%;

  @include ipad () {
    width: 80%;
  }

  @include iphone () {
    width: 100%;
  }

  @include iphone () {
    font-size: 35px;
  }
}

.comment-info-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 50px;
  
  @include iphone () {
    flex-wrap: wrap;
  }
}

.comment-info-item {
  width: 35%;

  @include ipad () {
    width: 50%;
  }
  @include iphone () {
    width: 100%;
    margin-bottom: 10%;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.comment-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.comment-description__img {
  width: 77px;
  height: 77px;
  border-radius: 50%;
  overflow: hidden;
}

.comment-description__text {
  line-height: 22px;
  width: 80%;

  @include ipad () {
    width: 90%;
  }
}

.comment-description__from-autor {
  color: $green;
}

.form-markup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 0 20px;
  background-color: rgba(255, 255, 255, 0.15);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.form-title {
  color: $gray;
}

.input-form__comment {
  padding: 15px;
  width: 90%;
  border-radius: 25px;
  margin-bottom: 20px;
  border: none;
}

.textarea-form__comment{
  padding: 15px;
  width: 90%;
  height: 130px;
  border-radius: 25px;
  margin-bottom: 20px;
  border: none;
  resize: vertical;
}

.form-buttons {
  display: flex;
  width: 100%;
}

.form-btn {
  background-color: $lgreen;
  border: none;
  border-right: 1px solid #fff;
  width: 50%;
  padding: 10px 10px;
  color: #fff;
  cursor: pointer;

  &:first-child {
    border-bottom-left-radius: 3px;
  }

  &:hover {
    background-color: $green;
  }

  &:active {
    background-color: $green;
  }

  &:focus {
    background-color: $lgreen;
  }

  &:last-child {
    border-right: none;
    border-bottom-right-radius: 3px;
  }
}

.arrow-icon--works {
  transform: rotate(180deg);
  fill: #fff;
}

.arrow-btn--comment {
  margin: 50px 0 150px;

  @include ipad () {
    margin: 50px 0 250px; 
  }

  @include iphone () {
    margin: 50px 0 300px; 
  }
}