.welcome-autorization {
  position: absolute;
  top: 30px;
  right: 30px;
}

.autorization-btn {
  background: none;
  color: #fff;
  font-weight: 500;
  padding: 15px 30px;
  border: 1px solid #fff;
  border-radius: 25px;
  cursor: pointer;
  transition: .3s;

  &:hover {
    transform: scale(1.05);
  }
}

.welcome-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome-info {
  background-color: rgba(#122620, .6);
  padding: 40px 69px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-list--welcome {
  padding-top: 30px;
}

.social-icon--welcome {
  fill: rgba(#fff, .6);
  
  &:hover {
    fill: $green;
  }
}

.nav-menu__list {
  display: flex;
  align-items: center;
}

.nav-menu__item {
  margin-right: 2px;
  box-shadow: 2px 0 1px rgba(#fff, .6);

  &:last-child {
    margin-right: 0;
    box-shadow: none;
  }
}

.nav-menu__link {
  background-color: $lgreen;
  color: #fff;
  font-weight: 500;
  padding: 15px 30px;
  transition: .3s;

  &:hover {
    background-color: $green;
  }
}

.hero-title__welcome {
  font-size: 35px;
}

.welcome-input {
  display: flex;
  margin-bottom: 20px;
}

.input-decore {
  background-color: #f0efe9;
  border-radius: 20px 0 0 20px;
  position: relative;
  padding: 20px;
}

.input-decore__icon {
  fill: #c3cbcd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-decore__icon--login {
  width: 15px;
  height: 17px;
}

.input-decore__icon--password {
  width: 18px;
  height: 17px;
}

.form-input {
  border: none;
  padding: 10px 5px;
  border-radius: 0 20px 20px 0;
}

.welcome-checkbox {
  padding: 10px;
}

.welcome-radio__question {
  font-weight: 700;
  padding: 5px;
}

.label-radio {
  margin-right: 40px;
  position: relative;
  color: #fff;
  padding-left: 5px;

  &:last-child {
    margin-right: 0;
  }
}

.nav-menu__link--form {
  padding: 15px 61px;
  border: none;
}

.welcome-card--form {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translateY(-50%);
}