.welcome-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-page__autorization {
    position: absolute;
    top: 30px;
    right: 30px;
    @include iphone () {
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.autorization-btn {
    background: none;
    color: #fff;
    font-weight: 500;
    padding: 15px 30px;
    border: 1px solid #fff;
    border-radius: 25px;
    opacity: 1;
    cursor: pointer;
    transition: .3s;

    @include iphone () {
        &:hover {
            transform: translateX(-50%) scale(1.05);
        }
        &:focus {
            transform: translateX(-50%) scale(1.05);
        }
        &:active {
            color: #BDAEAE;
        }
    }

    &:hover {
        transform: scale(1.05);
    }
    &:focus {
        transform: scale(1.05);
    }
    &:active {
        color: #BDAEAE;
    }
}

.autorization-btn--active {
    opacity: 0;
    transition: opacity .3s;
}

.flipper-box {
    width: 380px;
    perspective: 1200;
    transform-style: preserve-3d;
    position: relative;
}

.flipper {
    position: relative;
    transform-style: preserve-3d;
    transition: .6s linear;
}

.flipper--open {
    transform: rotateY(180deg);
}

.welcome-card {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 380px;
    backface-visibility: hidden;
    z-index: 2;
    transform: rotateY(0deg);

    @include iphone () {
        width: 90%;
        margin: 0 auto;
    }
}

.welcome-info {
    padding: 20px 20px;
    background-color: rgba(#122620, .6);
    display: flex;
    flex-direction: column;
    align-items: center;
    @include iphone () {
        padding: 10px 20px;
    }
}

.nav-menu__list {
    display: flex;
}

.nav-menu__item {
    border-right: 1px solid #fff;
    display: flex;
    flex: 1;

    &:last-child {
        border-right: none;
    }
}

.main-button__text {
    color: #fff;
    font-weight: 500;
}

.welcome-card--form {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(-180deg);
}

.welcome-info--form {
    padding: 10px 0;
}

.welcome-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
}

.title--welcome-form {
    font-size: 35px;
    color: #fff;
    font-family: "sansus_webissimo";
    font-weight: 400;
    text-transform: uppercase;

    &::after {
        background: #fff;
        margin-bottom: 25px;
    }
}

.hero-info {
    width: 90%;
}

.welcome-form__input {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
}

.input-decore {
    background-color: #f0efe9;
    border-radius: 20px 0 0 20px;
    position: relative;
    padding: 20px;
}

.input-decore__icon {
    fill: #c3cbcd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-decore__icon--password {
    width: 18px;
    height: 17px;
}

.form-input {
    border: none;
    padding: 10px 5px;
    border-radius: 0 20px 20px 0;
    width: 100%;
}

.welcome-form__checkbox {
    margin-bottom: 10px;
}

.welcome-form__radio {
    margin-bottom: 30px;
}

.welcome-form__radio-question {
    font-weight: 700;
    margin-bottom: 10px;
}

.form-checkbox {
    display: none;
    &:checked {
        +.label-checkbox {
            &::after {
                content: "";
                position: absolute;
                width: 18px;
                height: 14px;
                top: 3px;
                left: 1px;
                display: inline-block;
                background-image: url(../img/check.svg);
                background-repeat: no-repeat;
            }
        }
    }
}

.label-checkbox {
    position: relative;
    &::before {
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 3px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        background-color: $lgreen;
    }
}

.form-radio {
    display: none;
    &:checked {
        +.label-radio {
            &::after {
                content: "";
                position: absolute;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: $lgreen;
                top: 7px;
                left: 6px;
                display: inline-block;
                @include iphone () {
                    top: 5px;
                }
            }
        }
    }
}

.label-radio {
    position: relative;
    color: #fff;

    &::before {
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        background-color: #fff;
    }
}

.welcome-form__radio-input {
    margin-right: 40px;
}

.welcome-card__form-buttons {
    display: flex;
}

.welcome-footer {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);

    @include iphone () {
        width: 220px;
    }
}